<h2 class="mt-2">Formulaire d'ajout de clients</h2>

<form class="simple-form" name="formulaire">

  <div class="row form-group">
    <label class="col-sm-4" for="nom">Nom : </label>
    <input id="nom" name="nom" class="form-control" type="text" placeholder="Entrer votre nom" required ng-model="personne.nom"/>
  </div>

  <div class="row form-group">
    <label class="col-sm-4" for="prenom">Prénom : </label>
    <input id="prenom" name="prenom" class="form-control" type="text" placeholder="Entrer votre prénom" required ng-model="personne.prenom"/>
  </div>

  <div class="row form-group">
    <label class="col-sm-4" for="telephone">Téléphone : </label>
    <input id="telephone" name="telephone" verify-number placeholder="Numéro de téléphone (Facultatif)"
           class="form-control" type="text" ng-model="personne.telephone" />
  </div>

  <div class="row form-group">
    <label class="col-sm-4" for="email">Email : </label>
    <input id="email" name="email" class="form-control" type="email" placeholder="Entrer votre email" required ng-model="personne.email"/>
  </div>

  <div class="row form-group">
    <label class="col-sm-4" for="montantcredit">Montant du crédit : </label>
    <input id="montantcredit" name="montantcredit" class="form-control" type="number"
           placeholder="Entrer votre montant pour le crédit" required limit-montant ng-model="personne.montantcredit"/>
  </div>

  <div class="row form-check">
    <input ng-disabled="!formulaire.$valid" type="submit" ng-click="addCustomer()" class="btn btn-success" value="Envoyer"/>
    <input type="submit" class="btn btn-danger" value="Annuler"/>
  </div>

</form>
